{% extends 'layout.html' %}

{% block ck_contents %}
<div id="ck-entries">
	<a href="{{ url_for('showentries') }}" class="contentbutton">To-List</a>
	
	<strong>Keyword:&nbsp;</strong><sapn>&#39;{{ keyword }}&#39;</span>
	<div id="ck-entrybox">
	<table>
		<thead>
			<tr>
				<th class="index-id">No.</th>
				<th class="index-title">Title</th>
				<th class="index-time">Author</th>
				<th class="index-time">Time</th>
			</tr>		
		</thead>
		<tbody>
		{% for post in posts %}
			<tr>
				<td class="entry-id">{{ post.id }}</td>
				<td class="entry-title">
					<a href="{{ url_for('showpost', post_id=post.id) }}">{{ post.title }}</a>&nbsp;&nbsp;[{{ post.comments|length }}]
				</td>
				<td class="entry-user">
					{% if post.user == None %}
						Deleted user
					{% else %}
						{{ post.user.username }}
					{% endif %}
				</td>
				<td class="entry-time">			
					{% if post.date == today %}
						{{ post.time }}
					{% else %}
						{{ post.date }}
					{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4">No results found</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
</div>
{% endblock %}