{% extends 'layout.html' %}

{% block ck_message %}
{% if popup == 'confirm' %}
	<div class="ck-popup">
	Are you sure you want to delete this post?<br>
	<a href="{{ url_for('deletepost', post_id=post.id) }}">Yes</a>
	<a href="{{ url_for('showpost', post_id=post.id) }}">No</a>
	</div>	
{% elif popup == 'alert' %}
	<div class="ck-popup">
		{% for message in get_flashed_messages(category_filter=['addcom']) %}
			{{ message }}<br>
		{% endfor %}		
		<a href="javascript:history.back()">Confirm</a>
	</div>	
{% endif %}
{% endblock %}

{% block ck_contents %}
<div id="ck-entries">
	<a href="{{ url_for('showentries') }}" class="contentbutton">To-List</a>

	{% if session.logged_in and 
	   post.user.username == session.username %}
		<a href="{{ url_for('confirm_deletepost', post_id=post.id) }}" class="contentbutton">Delete</a>
		<a href="{{ url_for('modifypost', post_id=post.id) }}" class="contentbutton">Modify</a>	
	{% endif %}

	<a href="javascript:history.back()" class="contentbutton">Back</a>

	
	<table>
		<thead>
			<tr>
				<th class="index-id">No.</th>
				<th class="index-title">Title</th>
				<th class="index-time">Author</th>
				<th class="index-time">Time</th>
			</tr>		
		</thead>
		<tbody>		
			<tr>
				<td class="entry-id">{{ post.id }}</td>
				<td class="entry-title">
					<a>{{ post.title }}</a>&nbsp;&nbsp;[{{post.comments|length}}]
				</td>				
				<td class="entry-user">
					{% if post.user == None %}
						Deleted user
					{% else %}
						{{ post.user.username }}
					{% endif %}
				</td>
				<td class="entry-time">			
					{% if post.date == today %}
						{{ post.time }}
					{% else %}
						{{ post.date }}
					{% endif %}
				</td>				
			</tr>			
		</tbody>
	</table>
	<div id="ck-postbox">
	<table>
		<tr>
			<td colspan="4" class="entry-text">
			{{ post.text|urllink }}
			</td>
		</tr>	
	</table>
	</div>
	<div id="ck-commentbox">
	<table>
		{% for comment in post.comments %}
		<tr>
			<td>&#8627;</td>				
			<td class="entry-comment">
				{{ comment.text }}
			</td>
			<td class="entry-user">
				{% if comment.user == None %}
					Deleted user
				{% else %}
					{{ comment.user.username }}
				{% endif %}
			</td>
			<td class="entry-time">			
				{% if comment.date == today %}
					{{ comment.time }}
				{% else %}
					{{ comment.date }}
				{% endif %}
			</td>
		</tr>
		{#% else %}
		<tr>
			<td>&#8627;</td>
			<td class="entry-comment">No comment yet</td>
			<td class="entry-time"></td>
			<td class="entry-time"></td>
		</tr>#}
		{% endfor %}
	</table>
	</div>
	
	<br>

	{% if session.logged_in %}
		<form action="{{ url_for('addcomment', post_id=post.id) }}" method="post">
			<span class="loginfo">{{ session.username }}'s</span>	
			<label for="text">comment:</label>
			<textarea type="text" name="text" id="commentarea">{{ comtext }}</textarea>
			<button type="submit" class="gobutton" id="gocomment">Go!</button>
		</form>
	{% endif %}
	
	<br>
	<span class="tagtitle">Tag:&nbsp;&nbsp;</span>
	
	{% for tag in post.tags %}
		<a href="{{ url_for('showtaggedlist', tag_id=tag.id) }}" class="tagvalue">{{ tag.text }}</a>&nbsp;
	{% endfor %}

</div>
{% endblock %}
