{% extends 'layout.html' %}

{% block ck_message %}
{% if popup == 'alert' %}
	<div class="ck-popup">
		{% for message in get_flashed_messages(category_filter=['signup']) %}	
			{{ message }}<br>
		{% endfor %}		
		<a href="javascript:history.back()">Confirm</a>
	</div>	
{% endif %}
{% endblock %}

{% block ck_contents %}
<div class="ck-signup">
	<a href="{{ url_for('showentries') }}" class="contentbutton">To-List</a>

	<h3 class="title">Make your account!!</h3>	
	
	<div class="input">
	<form action="{{ url_for('signup') }}" method="post">
		<label for="username">Username:</label>&nbsp;
		<input type="text" name="username" value="{{ username }}">
		(4~20 characters)<br>
		<label for="password">Password:</label>&nbsp;
		<input type="password" name="password">
		(4~20 characters)<br>
		<label for="cfpassword">Confirm Password:</label>&nbsp;
		<input type="password" name="cfpassword">
		<br><br>
		<button type="submit">Sign-up</button>
	</form>
	</div>
</div>
{% endblock %}