{% extends 'layout.html' %}

{% block ck_contents %}
<div id="ck-entries">
	<a href="{{ url_for('showentries') }}" class="contentbutton">To-List</a>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}
	{% endif %}
	{% if session.logged_in %}
	<h3 class="title">Add a new post.</h3>
	<div class="input">
	<form action="{{ url_for('addpost') }}" method="post">
		<label for="title">Title:</label>&nbsp;
		<input type="text" name="title" id="title">
		<br>
		<label for="text">Text:</label>&nbsp;<br>
		<textarea type="text" name="text" id="text"></textarea>
		<br>
		<button type="submit" class="gobutton" id="gopost">Go!</button>
	</form>
	</div>
	{% else %}
	<h3 class="title">Please log in first.</h3>
	{% endif %}
</div>
{% endblock %}