{% extends 'layout.html' %}

{% block ck_contents %}
<div class="ck-signup">
	<h3 class="title">Are you sure you want to delete your account?</h3>
	{% if error %}<p class=error><strong>Error:</strong> {{ error }}
	{% endif %}
	<div class="input">
	<form action="{{ url_for('deleteuser') }}" method="post">
		<label for="username">Username:</label>&nbsp;
		{{ session.username }}<br>
		<label for="password">Password:</label>&nbsp;
		<input type="password" name="password">
		<br><br>
		<button type="submit">Delete!!</button>
	</form>
	</div>
</div>
{% endblock %}