<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>AutinBoard</title>	
	<!--link rel="stylesheet" type="text/css" href="/static/style.css"</-->
	<link rel="stylesheet" type="text/css" 
		  href="{{ url_for('static', filename='style.css') }}"</>
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</head>


<body>

<div id="ck-header">
	<h1><a href="{{ url_for('showentries') }}">Autin Board</a></h1>
	<span class="statstitle">Number of users :</span>
	<span class="statsvalue">{{ numusers }}</span>&nbsp;&nbsp;
	<span class="statstitle">Number of posts :</span>
	<span class="statsvalue">{{ numposts }}</span>
	
	{% block ck_message %}{% endblock %}
</div>


<div id="ck-frame">
	
  	{% block ck_contents %}{% endblock %}

	{% for message in get_flashed_messages(category_filter=['login']) %}	
		<script type="text/javascript">
			alert("{{ message }}")
		</script>
	{% endfor %}

	{% block ck_login %}
	<div id="ck-login">	
		{% if not session.logged_in %}
		<form action="{{ url_for('login') }}" method="post">
			<div class="input">
				<label for="username">Username:</label>
				<input type="text" name="username">
				<br>
				<label for="password">Password:</label>
				<input type="password" name="password">
			</div>
			<div>
				<button type="submit" id="buttonlogin">Log-in</button>
			</div>
			<div class="hint">
				<br>Don't you have an account?&nbsp;&nbsp;
				<a href="{{ url_for('signup') }}">Sign-up</a>
			</div>
		</form>	
		{% else %}
			<div class="input">
				<label>Username:</label>&nbsp;
				<span class="loginfo">{{ session.username }}</span>
				<br>
				<label>Password:</label>&nbsp;
				<span class="loginfo">
				{% for c in range(session.username|length) %}&#42;{% endfor %}
				</span>	
			</div>
			<a href="{{ url_for('logout') }}" id="buttonlogout">Log-out</a>
			<div class="hint">
				{#<br>You have logged in successfully!!#}
				<br>Do you wanna delete your account?&nbsp;&nbsp;
				<a href="{{ url_for('deleteuser') }}">Delete</a>
			</div>
		{% endif %}	

	</div>
	{% endblock %}	
		
	<div id="ck-tagbox">
		<label>Tag:</label>&nbsp;
		{% for tag in alltags %}
			<a href="{{ url_for('showtaggedlist', tag_id=tag.id) }}" class="tagvalue">{{ tag.text }}</a>&nbsp;
		{% endfor %}
	</div>
	
</div>


<div id="ck-footer">
	<p>&copy;Copyright <i><b>Austin Homeproduction</b></i></p>
</div>

</body>
</html>