{% extends 'layout.html' %}

{% block ck_contents %}
<div id="ck-entries">
	<a href="{{ url_for('showentries') }}" class="contentbutton">To-List</a>

	{#% if error.title %}
		<script type="text/javascript">alert("{{ error.title }}");</script>
	{% endif %}
	{% if error.text %}
		<script type="text/javascript">alert("{{ error.text }}");</script>
	{% endif %}
	{% if error.text or error.title %}
		<script type="text/javascript">history.go(-1);</script>
	{% endif %#}

	{% for message in get_flashed_messages(category_filter=['modpost']) %}	
		<script type="text/javascript">
			alert("{{ message }}")
		</script>
	{% endfor %}

	{% if session.logged_in %}
	<h3 class="title">Add a new post.</h3>
	<div class="input">
	<form action="{{ url_for('modifypost', post_id=post_id) }}" method="post">
		<label for="title">Title:</label>&nbsp;
		<input type="text" name="title" id="title" value="{{ title }}">
		<div class="hint">Under 50 characters</div>
		<label for="text">Text:</label>&nbsp;<br>
		<textarea type="text" name="text" id="text">{{ text }}</textarea>		
		<div class="hint">Under 2000 characters</div>
		<label for="tags">Tag:</label>&nbsp;
		<input type="text" name="tags" id="tags" value="{{ tags }}">
		<div class="hint">Under 20 characters for each tag<br>
						  which is separated by semicolon (;)</div>
		<button type="submit" class="gobutton" id="gopost">Modify</button>
	</form>
	</div>
	{% else %}
	<h3 class="title">Please log in first.</h3>
	{% endif %}
</div>
{% endblock %}